.elevate{
 box-shadow: 0 4px 8px 0 rgba(200, 168, 100, 0.4), 0 6px 20px 0 rgba(200, 168, 100, 0.4);
}
mat-card {
    margin-top: 40px;
}
mat-card:hover {
    background-color: #FFE082;
    color: rgb(41, 41, 41);
}

p {
    font-size: small;
}