<mat-card
  [class.elevate]="restaurant.id === onMouseId"
  (mouseover)="onCard(restaurant.id)"
  (mouseout)="onCard(-2)"
>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>restaurant</mat-icon>
    </div>
    <mat-card-title style="font-size: medium">{{ restaurant.name | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ restaurant.cuisine_type }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ restaurant.photograph }}"
    class="img-responsive"
  />
  <mat-card-content>
    <p>{{ restaurant.address }}</p>
    <p>{{ restaurant.neighborhood }}</p>

    <div
      *ngIf="restaurant.reviews!.length > 0; else noReviews"
      matBadge="{{ restaurant.reviews!.length }}"
      matBadgeColor="accent"
      matBadgeOverlap="false"
      matBadgePosition="above before"
    >
      Reviews
    </div>
    <!-- This restaurant has {{ restaurant.reviews!.length }} reviews. -->
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-icon-button (click)="throw()">
      <mat-icon>rate_review</mat-icon>
    </button>
    <button mat-icon-button routerLink="/details">
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-icon-button (click)="throw()">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="throw()">
      <mat-icon>share</mat-icon>
    </button>
    
  </mat-card-actions>
 
</mat-card>

<ng-template #noReviews>
  <p>No reviews yet. Type yours!</p>
</ng-template>
